<!DOCTYPE html>
<html lang="en-gb">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} | Goreal Struct</title>
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta name="keywords" content="{{ .Site.Params.keywords }}">
    
    <!-- Open Graph -->
    <meta property="og:title" content="Goreal Struct">
    <meta property="og:description" content="{{ .Site.Params.description }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ .Site.BaseURL }}">
    
    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">
    
    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="/logo/vector/isolated-layout.svg">
</head>
<body>
    {{ block "main" . }}{{ end }}
</body>
</html>